/* line 1, ../sass/layout.scss */
body {
  position: relative;
  margin: 0;
}
/* line 4, ../sass/layout.scss */
body header {
  position: relative;
  background-image: url("../../../assets/Uploads/BG-header.png");
  min-height: 240px;
}
/* line 8, ../sass/layout.scss */
body header .inner {
  min-height: 190px;
}
/* line 11, ../sass/layout.scss */
body header .inner .brand img {
  left: calc(50% - 180px);
  top: 20px;
  position: absolute;
}
/* line 16, ../sass/layout.scss */
body header .inner .brand .header-title {
  font-size: 4em;
  font-weight: bold;
  left: calc(50% - 80px);
  top: 40px;
  color: #a4001c;
}
/* line 25, ../sass/layout.scss */
body header #current-selector {
  margin: 2px 0 2px 0;
  background-color: #fa0032;
}
/* line 30, ../sass/layout.scss */
body header .primary ul {
  position: absolute;
  z-index: 50;
  bottom: -12px;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background-image: url("../../../assets/Uploads/Menubar.png");
  background-size: auto 60px;
}
/* line 39, ../sass/layout.scss */
body header .primary ul li {
  margin: 2px 0 2px 0;
  width: 10%;
  min-width: 100px;
  float: left;
  white-space: nowrap;
  line-height: 36px;
}
/* line 46, ../sass/layout.scss */
body header .primary ul li:first-child {
  margin-left: 10%;
}
/* line 49, ../sass/layout.scss */
body header .primary ul li a {
  position: relative;
  z-index: 200;
  display: block;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
/* line 62, ../sass/layout.scss */
body .main {
  padding-bottom: 200px;
}
/* line 64, ../sass/layout.scss */
body .main .slider.jcarousel {
  position: relative;
  overflow: hidden;
}
/* line 67, ../sass/layout.scss */
body .main .slider.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 73, ../sass/layout.scss */
body .main .slider.jcarousel ul li.slide {
  float: left;
  margin: 0;
  width: 100vw;
  height: calc(100vh - 440px);
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
  position: relative;
}
/* line 83, ../sass/layout.scss */
body .main .slider.jcarousel ul li.slide .splash {
  border: dashed;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  background: rgba(20, 30, 40, 0.5);
  color: white;
  text-align: center;
  max-width: 60%;
  max-height: 80%;
  min-width: 400px;
  min-height: 100px;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 99, ../sass/layout.scss */
body .main .slider.jcarousel ul li.slide .splash .splash-title {
  font-size: 2em;
  font-weight: bold;
  line-height: 50px;
}
/* line 104, ../sass/layout.scss */
body .main .slider.jcarousel ul li.slide .splash .splash-content {
  font-size: 1.5em;
  line-height: 25px;
}
/* line 111, ../sass/layout.scss */
body .main .slider.jcarousel .jcarousel-control {
  font-size: 10em;
  position: absolute;
  line-height: calc(100vh - 340px);
  width: calc(100vw / 16);
  min-width: 100px;
  color: #ffffff;
  background: rgba(20, 30, 40, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  text-align: center;
  height: 100%;
}
/* line 123, ../sass/layout.scss */
body .main .slider.jcarousel .jcarousel-control.prev {
  left: 0;
}
/* line 126, ../sass/layout.scss */
body .main .slider.jcarousel .jcarousel-control.next {
  right: 0;
}
/* line 129, ../sass/layout.scss */
body .main .slider.jcarousel .jcarousel-control:hover {
  opacity: 1;
  transition: opacity 0.5s;
}
/* line 136, ../sass/layout.scss */
body footer {
  box-shadow: 0 -5px 10px #141E28;
  background-image: url("../../../assets/Uploads/BG-footer.png");
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}
/* line 144, ../sass/layout.scss */
body #overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 100;
  display: none;
}
